<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
          <!-- data -nameCustom variable to store data    -->

    <a class="delete" data-doc="<%= blog._id %>">delete</a>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script>
  // access to doc we want to delete 
    // add event 'click'
    // set the endpoint URl  we want to reach ..  get the id of doc we want to delete
    // sending Req using fetchApi to  url -> endpoint 
    //res from the server is json -> detailsRouter , convert to object and log it
    // redirect from fronted  //data.redirect from json 
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>
