<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
   <!--
  <%  used t write pure js run on server not set to client || browser  
  <% that can contain logic (called a “scriptlet”). Any JavaScript syntax can be used in this tag.
  <%= to access obj in render() And render string to browser
  <%= “escape output” tag ==> if the string in the content has forbidden characters
     like > and &, the characters will be escaped and output string.
  <%- “unescaped output” tag, and is used when you want to output raw HTML
  <%- Don’t use it with user input, because it can expose your application to attacks.
  
   #partials template =>
     parts of websites stay the same across different pages, like the header, footer, and sidebar. 
     EJS provides us with partials that allow us to reuse views.
     Recall that partials using the include('path') function.
     It takes in the relative path to the file as an argument (./pa)
   -->

  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>

        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>

      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
