<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
/*
  <%  used t write pure js run on server not set to client || browser  
  <% that can contain logic (called a “scriptlet”). Any JavaScript syntax can be used in this tag.
  <%= to access obj in render() And render string to browser
  
*/

  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>

        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>

      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
